<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="joinPro" method="post" th:object="${member}">

    <input id="username" type="text" name="username" th:field="*{mid}" placeholder="아이디">
    <span style="color:red; font-weight: bold;"  th:if="${#fields.hasErrors('mid')}" th:errors="*{mid}" />
    <br>


    <input id="password" type="password" name="password" th:field="*{mpw}" placeholder="비밀번호">
    <span style="color:red; font-weight: bold;"  th:if="${#fields.hasErrors('mpw')}" th:errors="*{mpw}" />
    <br>

    <input id="email" type="email" name="email" th:field="*{memail}" placeholder="이메일">
    <span style="color:red; font-weight: bold;"  th:if="${#fields.hasErrors('memail')}" th:errors="*{memail}" />
    <br>

    <button type="submit">회원 가입</button>
</form>
</body>
</html>